@tailwind base;
@tailwind components;
@tailwind utilities;

.parentContainer {

background-image: url(/world.jpeg);
background-size: cover;
  background-position: center;
  height: 100vh;
  display: grid;
  overflow: hidden;
}


@media only screen and (max-width:500px) {
  .parentContainer {

    background-image: url(/world.jpeg);
    background-size: cover;
      background-position: center;
      height: 100vh;
      overflow: hidden;
      padding: 2px;
      
    }
}


.childContainer{
  font-size: 70px;
  font-family: fantasy;  
  text-align: center;
  padding: 20%;
  color: rgb(150, 219, 221);
  text-decoration:  rgb(65, 116, 117) underline; 
  justify-content: center;

}

@media only screen and(max-width:500px){
  .childContainer{
margin-left: 20px;
padding: 0px;
text-align: center;

   
  }

}